body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:137px;
  width:1920px;
  height:823px;
}
#u1943_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:823px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1943_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1937px;
  height:843px;
}
#u1944_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1937px;
  height:843px;
  overflow:auto;
}
#u1943_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:823px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u1943_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1934px;
  height:982px;
}
#u1945_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1934px;
  height:982px;
  overflow:auto;
}
#u1943_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:823px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u1943_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1934px;
  height:982px;
}
#u1946_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1934px;
  height:982px;
  overflow:auto;
}
#u1943_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:823px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u1943_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1934px;
  height:982px;
}
#u1947_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1934px;
  height:982px;
  overflow:auto;
}
#u1943_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:823px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u1943_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1934px;
  height:982px;
}
#u1948_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1934px;
  height:982px;
  overflow:auto;
}
#u1943_state5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:823px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u1943_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1934px;
  height:982px;
}
#u1949_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1934px;
  height:982px;
  overflow:auto;
}
/* ---- 委托销售相关 state（DEMO 新增） ---- */
#u1943_state6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:823px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u1943_state6_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1934px;
  height:982px;
}
#u1994_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1934px;
  height:982px;
  overflow:auto;
}
#u1943_state7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:823px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u1943_state7_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1934px;
  height:982px;
}
#u1995_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1934px;
  height:982px;
  overflow:auto;
}
#u1943_state8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:823px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u1943_state8_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1934px;
  height:982px;
}
#u1996_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1934px;
  height:982px;
  overflow:auto;
}
/* ---- 委托销售相关 state（DEMO 新增）结束 ---- */
#u1950 {
  position:absolute;
  left:0px;
  top:0px;
}
#u1950_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1920px;
  height:137px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1950_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:136px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1952 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1953 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 223, 231, 1);
  border-radius:6px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1954 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:35px;
  width:111px;
  height:44px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1954 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1955_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:32px;
  padding:2px 5px 6px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#7E8693;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1955_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:32px;
  padding:2px 5px 6px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#7E8693;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  color:#7E8693;
}
#u1955 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:40px;
  width:96px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  color:#7E8693;
}
#u1955 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 5px 6px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1955_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  color:#7E8693;
}
#u1955.disabled {
}
.u1955_input_option {
  font-size:16px;
}
#u1956_input {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:44px;
  padding:2px 2px 2px 16px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1956_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:44px;
  padding:2px 2px 2px 16px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1956_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:44px;
  padding:2px 2px 2px 16px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1956_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:44px;
  padding:2px 2px 2px 16px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 223, 231, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
}
#u1956 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:35px;
  width:228px;
  height:44px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
}
#u1956 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1956_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 223, 231, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
}
#u1956.hint {
}
#u1956_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:44px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 223, 231, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
}
#u1956.disabled {
}
#u1956_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:44px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 223, 231, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
}
#u1956.hint.disabled {
}
#u1957 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:35px;
  width:89px;
  height:44px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1957 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:44px;
}
#u1957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1958 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:33px;
  width:62px;
  height:50px;
  display:flex;
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1958 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:50px;
}
#u1958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:27px;
}
#u1959 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:28px;
  width:108px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:27px;
}
#u1959 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1959_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7E8693;
}
#u1960 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:66px;
  width:54px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7E8693;
}
#u1960 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1960_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1961 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:95px;
  width:264px;
  height:41px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:justify;
  text-justify:inter-word;
}
#u1961 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 18px;
  box-sizing:border-box;
  width:100%;
}
#u1961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:41px;
}
#u1961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1962_input {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:32px;
  padding:2px 5px 6px 2px;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1962_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:32px;
  padding:2px 5px 6px 2px;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1962 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:100px;
  width:236px;
  height:32px;
  display:flex;
  opacity:0;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1962 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 5px 6px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1962_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1962.disabled {
}
.u1962_input_option {
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1963 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:99px;
  width:36px;
  height:38px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1963 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1963_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(11, 87, 190, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1963.mouseOver {
}
#u1963_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(11, 87, 190, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1963.selected {
}
#u1963_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(11, 87, 190, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1963.mouseOver.selected {
}
#u1963_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1964 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:99px;
  width:72px;
  height:38px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1964 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1964_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(11, 87, 190, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1964.mouseOver {
}
#u1964_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(11, 87, 190, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1964.selected {
}
#u1964_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(11, 87, 190, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1964.mouseOver.selected {
}
#u1964_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1965 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:99px;
  width:72px;
  height:38px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1965 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1965_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(11, 87, 190, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1965.mouseOver {
}
#u1965_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(11, 87, 190, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1965.selected {
}
#u1965_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(11, 87, 190, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1965.mouseOver.selected {
}
#u1965_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1966 {
  border-width:0px;
  position:absolute;
  left:1237px;
  top:99px;
  width:72px;
  height:38px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1966 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1966_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(11, 87, 190, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1966.mouseOver {
}
#u1966_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(11, 87, 190, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1966.selected {
}
#u1966_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(11, 87, 190, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1966.mouseOver.selected {
}
#u1966_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1967 {
  border-width:0px;
  position:absolute;
  left:1434px;
  top:99px;
  width:72px;
  height:38px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1967 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1967_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(11, 87, 190, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1967.mouseOver {
}
#u1967_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(11, 87, 190, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1967.selected {
}
#u1967_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(11, 87, 190, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1967.mouseOver.selected {
}
#u1967_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1968 {
  border-width:0px;
  position:absolute;
  left:1632px;
  top:99px;
  width:72px;
  height:38px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1968 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1968_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(11, 87, 190, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1968.mouseOver {
}
#u1968_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(11, 87, 190, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1968.selected {
}
#u1968_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(11, 87, 190, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1968.mouseOver.selected {
}
#u1968_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
/* ================= 委托销售（DEMO 新增） ================= */
#u1993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1993 {
  border-width:0px;
  position:absolute;
  left:1736px;
  top:99px;
  width:72px;
  height:38px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1993 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1993_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(11, 87, 190, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1993.mouseOver {
}
#u1993_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(11, 87, 190, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1993.selected {
}
#u1993_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(11, 87, 190, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1993.mouseOver.selected {
}
#u1993_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
/* ---- 委托销售：悬停下拉面板 ---- */
#u1993 {
  cursor:pointer;
}
/* 用 fixed 定位，避免被门户容器的 overflow 裁剪 */
#u1993_dropdown {
  display:none;
  position:fixed;
  min-width:96px;
  padding:6px 0px;
  background-color:#ffffff;
  border:1px solid rgba(221, 223, 231, 1);
  border-radius:6px;
  box-shadow:0px 6px 16px rgba(0, 0, 0, 0.12);
  z-index:99999;
  white-space:nowrap;
}
#u1993.demo-dropdown-open #u1993_dropdown {
  display:block;
}
.demo-dropdown-item {
  padding:9px 20px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:22px;
  color:#333333;
  cursor:pointer;
  transition:background-color 0.15s, color 0.15s;
}
.demo-dropdown-item:hover {
  background-color:#F2F6FF;
  color:#0B57BE;
}
.demo-dropdown-item.active {
  color:#0B57BE;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  background-color:#F2F6FF;
}
/* ================= 委托销售（DEMO 新增）结束 ================= */
#u1969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 223, 231, 1);
  border-radius:6px;
  filter:drop-shadow(none);
  transition:none;
}
#u1970 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:35px;
  width:127px;
  height:44px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1970 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1971_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  padding:2px 5px 6px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#7E8693;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1971_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  padding:2px 5px 6px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#7E8693;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#7E8693;
}
#u1971 {
  border-width:0px;
  position:absolute;
  left:1104px;
  top:41px;
  width:87px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#7E8693;
}
#u1971 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 5px 6px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1971_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#7E8693;
}
#u1971.disabled {
}
.u1971_input_option {
  font-size:14px;
}
#u1972 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:48px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u1972 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 223, 231, 1);
  border-radius:6px;
  filter:drop-shadow(none);
  transition:none;
}
#u1974 {
  border-width:0px;
  position:absolute;
  left:1209px;
  top:35px;
  width:127px;
  height:44px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1974 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1975_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  padding:2px 5px 6px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#7E8693;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1975_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  padding:2px 5px 6px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#7E8693;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#7E8693;
}
#u1975 {
  border-width:0px;
  position:absolute;
  left:1244px;
  top:41px;
  width:87px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#7E8693;
}
#u1975 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 5px 6px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1975_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#7E8693;
}
#u1975.disabled {
}
.u1975_input_option {
  font-size:14px;
}
#u1976 {
  border-width:0px;
  position:absolute;
  left:1223px;
  top:48px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u1976 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 223, 231, 1);
  border-radius:6px;
  filter:drop-shadow(none);
  transition:none;
}
#u1978 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:35px;
  width:127px;
  height:44px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1979_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  padding:2px 5px 6px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#7E8693;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1979_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  padding:2px 5px 6px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#7E8693;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#7E8693;
}
#u1979 {
  border-width:0px;
  position:absolute;
  left:1385px;
  top:41px;
  width:87px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#7E8693;
}
#u1979 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 5px 6px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1979_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#7E8693;
}
#u1979.disabled {
}
.u1979_input_option {
  font-size:14px;
}
#u1980 {
  border-width:0px;
  position:absolute;
  left:1364px;
  top:48px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u1980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 223, 231, 1);
  border-radius:6px;
  filter:drop-shadow(none);
  transition:none;
}
#u1982 {
  border-width:0px;
  position:absolute;
  left:1490px;
  top:35px;
  width:127px;
  height:44px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1982 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1983_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  padding:2px 5px 6px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#7E8693;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1983_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  padding:2px 5px 6px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#7E8693;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#7E8693;
}
#u1983 {
  border-width:0px;
  position:absolute;
  left:1525px;
  top:41px;
  width:87px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#7E8693;
}
#u1983 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 5px 6px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1983_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#7E8693;
}
#u1983.disabled {
}
.u1983_input_option {
  font-size:14px;
}
#u1984 {
  border-width:0px;
  position:absolute;
  left:1504px;
  top:48px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u1984 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1985 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:110px;
  width:9px;
  height:9px;
  display:flex;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
  transition:none;
}
#u1985 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1988 {
  border-width:0px;
  position:absolute;
  left:1666px;
  top:394px;
  width:68px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1988 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1989 {
  border-width:0px;
  position:absolute;
  left:1680px;
  top:426px;
  width:39px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1989 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1989_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1990 {
  border-width:0px;
  position:absolute;
  left:1692px;
  top:404px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u1990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1992 {
  border-width:0px;
  position:absolute;
  left:1666px;
  top:334px;
  width:68px;
  height:60px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:60px;
}
#u1992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}

/* ================= 导航栏等距重排（DEMO 覆盖层 v3） ================= */
/* left 由 门户_demo.html 里的 layoutNav() 按视口宽度实时计算，此处只统一尺寸与居中 */
/* 目的：整排导航随窗口自适应铺开，避免固定 1920 画布下被挤出可视区、点不到 */
#u1963, #u1964, #u1965, #u1966, #u1967, #u1968, #u1993 {
  width: 100px !important;
  top: 99px !important;
  height: 38px !important;
}

/* 文字水平居中、垂直居中 */
#u1963 .text, #u1964 .text, #u1965 .text,
#u1966 .text, #u1967 .text, #u1968 .text, #u1993 .text {
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
}
